.background{
    background-image: url('../../assets/rectangle.png');
    background-size: cover;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0.14) 100%);
    align-items: center;
}